<container>
	<header>
		<a href="#" class="logo"><img src="./css/logo1.jpg" ng-src="./css/logo1.jpg" alt="WH Beers4ever"></a>		
		<a href="javascript:void(0);" class="login" ng-click='ShowLoginPopup()' ng-if="!loggedIn">Login</a>
		<a href="javascript:void(0);" class="cart" ng-if="loggedIn" ng-click='getCart()'></a><span class="countCart" ng-if="countCartObj && loggedIn">{{countCartObj}}</span>
		<span class="welcomeBack" ng-if="loggedIn">
			Welcome back {{username}} | <a href="javascript:void(0);" ng-click="logOut();">logout</a>
		</span>
	</header>
	<search><input class="filterBox" ng-model="query" placeholder="Search a Beer"></search>
	<content>
		<box ng-repeat='beer in filteredBeers = ( beers | filter:{ name: query }) | orderBy:"name"'>
			<div class="name">{{beer.name|capitalize}}</div>
			<img ng-src='{{beer.img}}'></img>
			<a href="javascript:void(0)" ng-click="viewMore( beer.id )" >View More</a>
			<div ng-if="loggedIn">
				<div class="count">{{cartObj[beer.id] || 0}}</div>
				<button ng-click="addCount( beer.id );">+</button>
				<button ng-click="removeCount( beer.id );">-</button>
			</div>
		</box>
		<div ng-if="filteredBeers.length === 0"><img src="./css/beers/no_beer.jpg"></div>
	</content>

	<login ng-show="showLogin && !loggedIn"></login>
	<description  ng-show=showDesc></description> 
	<cart ng-if="showCart"></cart>
</container>